th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding-left: 8px;
  padding-right: 8px;
}

tr.element-row {
  cursor: pointer;
}

tr.element-row:hover {
  background: whitesmoke;
}

tr.element-row:active {
  background: #efefef;
}
