<div class="d-flex flex-wrap releases-container">
  <mat-card *ngFor="let release of releases | async">
    <mat-card-header>
      <mat-card-title>{{ release?.title }}</mat-card-title>
      <mat-card-subtitle>{{ release?.type }}</mat-card-subtitle>
      <mat-card-actions *ngIf="isReleaseOwnerOrAdmin(release.createdBy) | async">
        <button (click)="onEditRelease(release.id)" aria-label="Edit release" color="accent" mat-icon-button
                matTooltip="Edit">
          <mat-icon>create</mat-icon>
        </button>
        <button (click)="onDeleteRelease(release.id)" aria-label="Delete release" color="warn" mat-icon-button
                matTooltip="Delete">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex align-items-center">
        <mat-icon>alarm</mat-icon>
        <p class="m-0 ml-1 mr-1">{{ release?.deadline | date:'mediumDate' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card (click)="onDisplayReleaseEditDialog()" *appHasAnyAuthority="'ROLE_TEAM_LEAD'" class="card-clickable">
    <mat-card-content class="d-flex align-items-center h-100">
      <mat-icon>add</mat-icon>
    </mat-card-content>
  </mat-card>
</div>
