<div class="w-100 d-flex justify-content-center align-items-center mt-4 mb-4">
  <h1 class="m-0">Releases</h1>
  <button (click)="onCreateRelease()" color="primary" mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="w-100 d-flex justify-content-center">
  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
        <td *matCellDef="let element" mat-cell>{{ element.title }}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
        <td *matCellDef="let element" mat-cell>{{ element.type }}</td>
      </ng-container>

      <!-- Deadline Column -->
      <ng-container matColumnDef="deadline">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Deadline</th>
        <td *matCellDef="let element" [class.text-danger]="isOverdue(element)"
            [class.text-warning]="isAlmostDue(element)"
            mat-cell>{{ element.deadline | date:'mediumDate' }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
        <td *matCellDef="let element" mat-cell>{{ element.status }}</td>
      </ng-container>

      <!-- Team Column -->
      <ng-container matColumnDef="team">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Team</th>
        <td *matCellDef="let element" mat-cell>
          <mat-chip-list aria-label="Team">
            <mat-chip *ngFor="let member of element?.team">
              {{ member?.login }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>Actions</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="onViewRelease($event, element)" *ngIf="isReleaseOwnerOrAdmin(element.createdBy) | async"
                  aria-label="View release data" color="primary"
                  mat-icon-button matTooltip="View">
            <mat-icon>visibility</mat-icon>
          </button>
          <button (click)="onEditRelease($event, element)" *ngIf="isReleaseOwnerOrAdmin(element.createdBy) | async"
                  aria-label="Edit release data" color="accent"
                  mat-icon-button matTooltip="Edit">
            <mat-icon>create</mat-icon>
          </button>
          <button (click)="onDeleteRelease($event, element)" *ngIf="isReleaseOwnerOrAdmin(element.createdBy) | async"
                  aria-label="Delete release" color="warn"
                  mat-icon-button matTooltip="Delete">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/', 'release', row.id, 'task-management']"
          class="element-row" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
