.toolbar-spacer {
  flex: 1 1 auto;
}

#ham {
  display: none;
}

#ham-list {
  display: none;
  height: max-content;
  align-items: stretch;
}

@media only screen and (max-width: 768px) {
  #ham,
  #ham-list {
    display: initial;
  }

  #nav-links {
    display: none;
  }
}

.mat-tree-invisible {
  display: none;
}

mat-tree {
  background-color: transparent;

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }
}
