<h1 mat-dialog-title>
  {{ isNewTask
  ? 'Create a new task'
  : (data?.isEdit
    ? 'Edit task ' + data?.task?.title + '\'s info'
    : 'Task ' + data?.task?.title + '\'s info') }}
</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onUpdateTask()" [formGroup]="taskEditForm">
    <mat-form-field class="w-100">
      <mat-label>Id</mat-label>
      <input formControlName="id" matInput>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Ex. New Release">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput placeholder="Ex. Improving user experience">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Deadline</mat-label>
      <input [matDatepicker]="deadlinePicker" formControlName="deadline" matInput>
      <mat-datepicker-toggle [for]="deadlinePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="NEW">New</mat-option>
        <mat-option value="IN_PROGRESS">In Progress</mat-option>
        <mat-option value="INVALID">Invalid</mat-option>
        <mat-option value="WAITING_FOR_REVIEW">Waiting for Review</mat-option>
        <mat-option value="DONE">Done</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-chip-list #chipList aria-label="Assignees selection">
        <mat-chip (removed)="onRemoveAssignee(i)" *ngFor="let member of taskEditForm?.value?.assignees; let i = index;"
                  [removable]="data?.isEdit" [selectable]="true">
          {{ member?.login }}
          <mat-icon *ngIf="data?.isEdit" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #assigneeInput
               (matChipInputTokenEnd)="onAddAssignee($event)"
               [formControl]="assigneeControl"
               [matAutocomplete]="auto"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="New assignee...">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAssigneeSelected($event)">
        <mat-option *ngFor="let member of filteredTeamMembers | async" [value]="member">
          {{ member?.login }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Release Id</mat-label>
      <input formControlName="releaseId" matInput>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Created By</mat-label>
      <input formControlName="createdBy" matInput>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Created Date</mat-label>
      <input [matDatepicker]="createdDatePicker" formControlName="createdDate" matInput>
      <mat-datepicker-toggle [for]="createdDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #createdDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Last Modified By</mat-label>
      <input formControlName="lastModifiedBy" matInput>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Last Modified Date</mat-label>
      <input [matDatepicker]="lastModifiedDatePicker" formControlName="lastModifiedDate" matInput>
      <mat-datepicker-toggle [for]="lastModifiedDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #lastModifiedDatePicker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div class="d-flex justify-content-end" mat-dialog-actions>
  <button *ngIf="data?.isEdit" [mat-dialog-close]="null" cdkFocusInitial mat-button>Cancel</button>
  <button (click)="onUpdateTask()" *ngIf="data?.isEdit" mat-button>Save</button>
  <button *ngIf="!data?.isEdit" [mat-dialog-close]="null" cdkFocusInitial mat-button>Close</button>
</div>
